In [86]:
import pandas as pd
import numpy as np

## Load the stock news data

In [87]:
news = pd.read_csv('analyst_ratings_processed.csv')
news.head()

,Unnamed: 0,title,date,stock
0,0.0,Stocks That Hit 52-Week Highs On Friday,2020-06-05 10:30:00-04:00,A
1,1.0,Stocks That Hit 52-Week Highs On Wednesday,2020-06-03 10:45:00-04:00,A
2,2.0,71 Biggest Movers From Friday,2020-05-26 04:30:00-04:00,A
3,3.0,46 Stocks Moving In Friday's Mid-Day Session,2020-05-22 12:45:00-04:00,A
4,4.0,B of A Securities Maintains Neutral on Agilent...,2020-05-22 11:38:00-04:00,A

In [88]:
news.columns

Index(['Unnamed: 0', 'title', 'date', 'stock'], dtype='object')

In [89]:
news = news[['title', 'date', 'stock']]
news.head()

,title,date,stock
0,Stocks That Hit 52-Week Highs On Friday,2020-06-05 10:30:00-04:00,A
1,Stocks That Hit 52-Week Highs On Wednesday,2020-06-03 10:45:00-04:00,A
2,71 Biggest Movers From Friday,2020-05-26 04:30:00-04:00,A
3,46 Stocks Moving In Friday's Mid-Day Session,2020-05-22 12:45:00-04:00,A
4,B of A Securities Maintains Neutral on Agilent...,2020-05-22 11:38:00-04:00,A

In [90]:
# Lets have a look on the sunique stocks we have

news['stock'].unique()

array(['A', 'AAMC', 'AAME', ..., 'ZU', 'ZUMZ', 'ZX'], dtype=object)

In [91]:
# Now let's see how many instances we have for each stock

max_count = news.groupby('stock').count().iloc[:, 0].max()
stock_name = news.groupby('stock').count().iloc[:, 0][news.groupby('stock').count().iloc[:, 0] == max_count].index[0]
stock_name

'MRK'

In [92]:
# lets extract the news for this stock
new_news = news[news['stock'] == stock_name].reset_index(drop = True)

new_news.head()

,title,date,stock
0,Shares of several healthcare companies are tra...,2020-06-11 10:22:00-04:00,MRK
1,Johnson & Johnson To Start Coronavirus Vaccine...,2020-06-11 00:16:00-04:00,MRK
2,The Daily Biotech Pulse: Keytruda Setback For ...,2020-06-10 07:30:00-04:00,MRK
3,Merck Announces That The Phase 3 KEYNOTE-361 T...,2020-06-09 16:13:00-04:00,MRK
4,"The Week Ahead In Biotech: Viela FDA Decision,...",2020-06-07 13:43:00-04:00,MRK

In [93]:
new_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3334 entries, 0 to 3333
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3334 non-null   object
 1   date    3334 non-null   object
 2   stock   3334 non-null   object
dtypes: object(3)
memory usage: 78.3+ KB

In [94]:
new_news['date'] = pd.to_datetime(new_news['date'])
new_news['date'] = [item.date() for item in new_news['date']]
new_news.head()

                                               title        date stock
0  Shares of several healthcare companies are tra...  2020-06-11   MRK
1  Johnson & Johnson To Start Coronavirus Vaccine...  2020-06-11   MRK
2  The Daily Biotech Pulse: Keytruda Setback For ...  2020-06-10   MRK
3  Merck Announces That The Phase 3 KEYNOTE-361 T...  2020-06-09   MRK
4  The Week Ahead In Biotech: Viela FDA Decision,...  2020-06-07   MRK

In [101]:
new_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3334 entries, 0 to 3333
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3334 non-null   object
 1   date    3334 non-null   object
 2   stock   3334 non-null   object
dtypes: object(3)
memory usage: 78.3+ KB

### Now since we have filtered the news for the stock name MRK, this is time to get the stock prices for his particular stock.

In [102]:
# First of all check the timestamp

start_date = new_news['date'].iloc[0]
end_date = new_news['date'].iloc[-1]

start_date, end_date

(datetime.date(2020, 6, 11), datetime.date(2009, 7, 27))

In [103]:
! pip install yfinance

Requirement already satisfied: yfinance in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (0.1.68)
Requirement already satisfied: multitasking>=0.0.7 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.26 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (1.21.2)
Requirement already satisfied: pandas>=0.24 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.12.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/ankushpandey/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.2)

In [104]:
# Import Yahoo finance library

import yfinance as yf

# Get the data for the stock MRK
data = yf.download('MRK','2009-07-27','2020-06-11')

[*********************100%***********************]  1 of 1 completed

In [105]:
# Print 1st five rows of the data

data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2009-07-27  29.694656  29.751907  29.026718  29.360687  18.955812  21026758
2009-07-28  29.303434  29.494274  28.406488  28.645039  18.493782  23627265
2009-07-29  28.635496  28.759542  28.158398  28.501907  18.401371  16696736
2009-07-30  28.826336  29.551527  28.511450  28.568703  18.444494  24300290
2009-07-31  28.816793  29.179390  28.540075  28.635496  18.487616  16269362

In [106]:
# Look at the information of columns of the data using .info method

data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2738 entries, 2009-07-27 to 2020-06-10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2738 non-null   float64
 1   High       2738 non-null   float64
 2   Low        2738 non-null   float64
 3   Close      2738 non-null   float64
 4   Adj Close  2738 non-null   float64
 5   Volume     2738 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 149.7 KB

### By now we have two different data frames named as new_news and data, the news dataframe contains news related to the stock and data dataframe contains the information about the stock values yeah. Before we merge both the data frames in a single data frame we will need to aggregate the news with respect to date.
Before we merge both the data frames in a single data frame we will need to aggregate the news with respect to date.
To aggregate the news with respect to date we will concatenate the rows which have the same date.

In [118]:
# Function used to concatenate the news data while using group by function

def concat_data(x):
    return ' '.join(x)

In [120]:
# Create the aggregate news for different date values

news_agg = new_news.groupby('date', axis = 0)['title'].apply(concat_data).sort_index()

In [121]:
# Add a new column named as news in the data and assigned the concatenated news to this column

data['news'] = news_agg

In [122]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,news
Date,,,,,,,
2009-07-27,29.694656,29.751907,29.026718,29.360687,18.955812,21026758,Wall Street News Alert: Stocks This Morning: ...
2009-07-28,29.303434,29.494274,28.406488,28.645039,18.493782,23627265,NaN
2009-07-29,28.635496,28.759542,28.158398,28.501907,18.401371,16696736,NaN
2009-07-30,28.826336,29.551527,28.511450,28.568703,18.444494,24300290,NaN
2009-07-31,28.816793,29.179390,28.540075,28.635496,18.487616,16269362,NaN

In [123]:
data.isna().sum()

Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
news         1289
dtype: int64

### It is clearly visible that there are some of the columns which are missing in the news values that means there are no news present for those particular days. Now to get rid of this issue we will consider the news for the day (which has no news to it) as the news of the previous day.

In [125]:
data.ffill(inplace = True)

data.head()

,Open,High,Low,Close,Adj Close,Volume,news
Date,,,,,,,
2009-07-27,29.694656,29.751907,29.026718,29.360687,18.955812,21026758,Wall Street News Alert: Stocks This Morning: ...
2009-07-28,29.303434,29.494274,28.406488,28.645039,18.493782,23627265,Wall Street News Alert: Stocks This Morning: ...
2009-07-29,28.635496,28.759542,28.158398,28.501907,18.401371,16696736,Wall Street News Alert: Stocks This Morning: ...
2009-07-30,28.826336,29.551527,28.511450,28.568703,18.444494,24300290,Wall Street News Alert: Stocks This Morning: ...
2009-07-31,28.816793,29.179390,28.540075,28.635496,18.487616,16269362,Wall Street News Alert: Stocks This Morning: ...

In [127]:
data.isna().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
news         0
dtype: int64